settings.sh
settings.test.sh
tscommand*.tmp.txt

.nyc_output/
.tscache/
coverage/
dist/
node_modules/
src/microservices/authentication/documentation/
src/microservices/rest/documentation/
src/serverless/http/local.settings.json
