settings.sh
settings.e2e.sh
settings.test.sh
tscommand*.tmp.txt

.funcpack/
.nyc_output/
.test-results/
.tscache/
build/
dist/
node_modules/
src/serverless/local.settings.json
src/serverless/api/documentation
