{
  "exclude": [
    "e2e/**/*",
    "test/**/*"
  ],
  "extension": [
    ".ts"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "instrument": true,
  "reporter": [
    "cobertura",
    "html"
  ],
  "report-dir": "./.test-results/coverage",
  "require": [
    "ts-node/register"
  ],
  "sourceMap": true
}